.container {
  display: flex;
  max-width: 1325px;
  margin: 0px auto;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  vertical-align: middle;
  color: #515076;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
}

.card {
  background: #F7F7FA;
  border-radius: 1px;
  box-shadow: 2px 2px 10px 0px #5150761A;
  width: 340px;
  height: 573px;
}

.muss {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.card-title {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

.moisturizing-muss {
  margin: 10px 0px 10px 0px;
  line-height: 27px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  color: #515076;
}

.product-properties {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  margin-bottom: 5px;
}

.skin-hydration {
  font-size: 13px;
  font-weight: 400;
  font-family: Montserrat;
  color: #A5A3B9;
  display: block;
  margin-bottom: 15px;
}

.compound {
  font-size: 13px;
  font-weight: 400;
  font-family: Montserrat;
  color: #A5A3B9;
  display: block;
  margin: 0px 0px 5px 0px;
}

.product-compound {
  list-style-type: circle;
  padding-left: 14px;
  margin: 5px 0px;
}

.price {
  display: flex;
  justify-content: space-between;
  margin: 15px 25px 25px 0px;
}

.price-left {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.price-right {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.flowers {
  position: relative;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;;
}

.skin-type {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}